@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title</h2>

<div class="panel panel-info" style="width: 50%; float: left">
    <div class="panel-heading"><center><h2>General Information</h2></center></div>
    <p>
        At Apptopia, we all come to work every day because we want to solve the biggest problem in mobile. Everyone is guessing. Publishers don’t know what apps to build, how to monetize them, or even what to price them at. Advertisers & brands don’t know where their target users are, how to reach them, or even how much they need to spend in order to do so. Investors aren’t sure which apps and genres are growing the quickest, and where users are really spending their time (and money). </p>
    <p>
        Throughout the history of business, people use data to make more informed decisions. Our mission at Apptopia is to make the app economy more transparent. Today we provide the most actionable mobile app data & insights in the industry. We want to make this data available to as many people as possible (not just the top 5%).
    </p>

    <p>
        At Kingston University we take great pride in the difference we make to the lives of our 20,000 students and the wider community we serve. We are constantly striving to provide excellent services and to continue to make a positive contribution to the economic, social and cultural life of the borough.

        Over the last 10 years we have achieved a lot by investing in our estate and over the next 10 years we hope to continue to improve and transform our campuses by providing an even better teaching and learning experience, and upgraded facilities for students, staff and the local community.
    </p>
</div>

<div class="panel panel-danger" style="width: 50%; float: right">

    <div class="panel-heading"><center><h2>Computer Science</h2></center></div>

    <p>
        Computer science is the study of the theory, experimentation, and engineering that form the basis for the design and use of computers. It is the scientific and practical approach to computation and its applications and the systematic study of the feasibility, structure, expression, and mechanization of the methodical procedures (or algorithms) that underlie the acquisition, representation, processing, storage, communication of, and access to, information. An alternate, more succinct definition of computer science is the study of automating algorithmic processes that scale. A computer scientist specializes in the theory of computation and the design of computational systems.[1]
    </p>
    <p> 
        Its fields can be divided into a variety of theoretical and practical disciplines. Some fields, such as computational complexity theory (which explores the fundamental properties of computational and intractable problems), are highly abstract, while fields such as computer graphics emphasize real-world visual applications. Other fields still focus on challenges in implementing computation. For example, programming language theory considers various approaches to the description of computation, while the study of computer programming itself investigates various aspects of the use of programming language and complex systems. Human–computer interaction considers the challenges in making computers and computations useful, usable, and universally accessible to humans.

    </p>
    </div>
